.color-box{
    $box-size: 200px;

    display: inline-block;
    width: $box-size;
    height: $box-size;
    border-radius: 8px;
    margin: 20px;

    cursor: pointer;
    transition: all 0.35 ease-in-out 0s;
}